$clr_bg_first: #313842;
$clr_bg_second: #526464;
$clr_default: #333;
$clr_dimmed: #666;

.heat-map {
  background: #fff;
  box-shadow: 0 0 20px darken(rgba(#000, 0.35), 10);
  margin-top: 6vh;
}

.legend-text {
  fill: $clr_dimmed;
  text-anchor: middle;
}

.axes-text {
  font-weight: 700;
  text-anchor: middle;
}

.title {
  text-anchor: middle;
  font-weight: 700;
}

.subtitle {
  composes: title;
  fill: $clr_dimmed;
}

.months-text {
  text-anchor: end;
  alignment-baseline: middle;
}

.description {
  text-anchor: middle;
  font-weight: 400;
}

.loading-text {
  font-size: 20px;
  padding-top: 45vh;
}

.data-rect:hover {
  opacity: 0.6;
}

:global {
  #app {
    text-align: center;
    fill: $clr_default;
  }

  body {
    background: repeating-linear-gradient(135deg, $clr_bg_second 0, $clr_bg_second 5%, $clr_bg_first 0, $clr_bg_first 50%);
    background-size: 10px 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  html, body {
    height: 100%;
  }
}
