.heat-map {
  background: #fff;
  box-shadow: 0 0 20px lightgrey;
  margin-top: 10vh;
}

.legend-text {
  fill: orange;
}

.axes-text {
  font-weight: 700;
  text-anchor: middle;
}

:global {
  #app {
    text-align: center;
  }
}
