.heat-map {
  background: #fff;
  border: 1px solid pink;
  box-sizing: border-box;
}

.legend-text {
  fill: orange;
}

.axes-text {
  font-weight: 700;
  text-anchor: middle;
}

:global {
  #app {
    text-align: center;
  }
}
